html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
.main{
    height: 100vh;
    width: 100vw;
    background-color: #3B4664;
    position: relative;
    ;
}

.textboxarea{
    height: 15vh;
    width: 30vw;
    background-color: #181F32;
    border-radius: 6px;
    position: absolute;
    margin-top: 15vh;
    margin-left: 32vw;
    align-items: center;
}

.buttonarea{
    height: 62vh;
    width: 30vw;
    background-color: #252D44;
    position: absolute;
    margin-top: 32vh;
    margin-left: 32vw;
    border-radius: 6px;
    
    
}

.buttonStyle {
    height: 8vh;
    width: 5vw;
    background-color: #EAE3DB;
    margin-top: 4vh;
    margin-left: 2vw;
    border-radius: 10px;
    color: #252D44;
    font-size: 25px; 
    font-family: Inter; 
    font-weight: 800;
    border: none;
  
}

.delbutton{
    height: 8vh;
    width: 5vw;
    background-color:  #647299;
    margin-top: 4vh;
    margin-left: 2vw;
    border-radius: 10px;
    color:  #FFFFFF;
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 800;
    border: none;
}

.resetbutton {
    height: 8vh;
    width: 12vw;
    background-color: #647299;

    margin-top: 4vh;
    margin-left: 2vw;
    border-radius: 10px;
    color:  #FFFFFF;
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 800;
    border: none;
}

.equalbutton{
    height: 8vh;
    width: 12vw;
    background-color: #D13F30;
    margin-top: 4vh;
    margin-left: 2vw;
    border-radius: 10px;
    color:  #FFFFFF;
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 800;
    border: none;
}

.styled-textarea {
    width: 93.5%; 
    height: 72%;
    padding: 10px; 
    border: none;
    border-radius: 5px; 
    background-color: #181F32;
    font-family: 'Segoe UI';
    font-size: 55px; 
    font-weight: 700;
    color: #FFFFFF;
    resize: both;
    position: relative;
    outline: none; 
    text-align: right;
}

